body {
    margin:0
}

/*   Header Code   */
header {
    display: block;
    width: 100%;
    height: 120px;
    background-color: #2F3A70;
}

.headWrapper {
    width: 100%;
    height: 100%;
    max-width: 960px;
    margin: 0 auto;
}
.logo {
    height: 100%;
    float: left;
}
.socialMediaBar {
    height: 50px;
    width: 240px;
    float: right;
    margin-top: 10px;
    background-color: white;
}
.socialMediaBar ul {
    margin: 0;
    padding: 0;
    text-align: center;
}
.socialMediaBar ul li {
     display: inline-block;
    height: 50px;
    width: 50px;
    text-align: center;
    margin-right: 2%;
    background-color: crimson;
}
.nav {
    height:  50px;
    width: calc(100% - 125px);
    float: right;
    margin-top: 10px;
    background-color: white;
}
.nav ul {
    margin: 0;
    padding: 0;
}
.nav ul li{
    display: inline-block;
    height: 50px;
    width: 30%;
    max-width: 200px;
    text-align: center;
    margin-right: 2%;
    background-color: crimson;
    
}


/* content-main wrapper */
#wrapper {
    width: 100%;
    /* height should change */
    height: 700px;
    max-width: 960px;
    margin: 0 auto;
    background-color: tan;
}